In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121296 entries, 2004-10-01 01:00:00 to 2018-08-03 00:00:00
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   aep          121296 non-null  float64
 1   holiday      121296 non-null  int64
 2   weekend      121296 non-null  int64
 3   winter       121296 non-null  int64
 4   spring       121296 non-null  int64
 5   summer       121296 non-null  int64
 6   fall         121296 non-null  int64
 7   hour         121296 non-null  int64
 8   month        121296 non-null  int64
 9   day_of_week  121296 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 10.2 MB

In [7]:
dataset = df.iloc[:].values 
dataset.shape

(121296, 10)

# Function to split data For Training, Validation & Test

In [8]:
def t_v_t(dataset,train_p,validation_p,test_p):
    '''
    \n\nt_v_t(dataset,train_p,validation_p,test_p)\n
    dataset = DataFrame
    train_p = Percentage of Traing Data
    validation_p = Percentage of Validation Data
    test_p = Percentage of Test Data
    \n\nExample:
    to call this Function;
    train_set , validation_set , test_set = t_v_t(df,70,20,10)
    '''
    train_p = train_p/100
    validation_p=validation_p/100
    test_p=test_p/100
    train=int(np.round(len(dataset)*train_p))                                 #70
    validation=int(np.round(len(dataset)*validation_p))                       #20
    test=int(np.round(len(dataset)*test_p))                                   #10
    train_set,validation_set,test_set=dataset[:train],dataset[train:train+validation],dataset[train+validation:len(dataset)]
    return train_set,validation_set,test_set

In [9]:
print(t_v_t.__doc__)

t_v_t(dataset,train_p,validation_p,test_p)

    dataset = DataFrame
    train_p = Percentage of Traing Data
    validation_p = Percentage of Validation Data
    test_p = Percentage of Test Data


Example:
    to call this Function;
    train_set , validation_set , test_set = t_v_t(df,70,20,10)

# tarin, test &  validation split

In [10]:
train_set , validation_set , test_set = t_v_t(df,70,20,10)

In [11]:
print(train_set.shape)
print(validation_set.shape)
print(test_set.shape)

(84907, 10)
(24259, 10)
(12130, 10)

In [12]:
(84907+24259+12130)-121296

0

In [13]:
test_set

,aep,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,
2017-03-15 15:00:00,17979.0,0,0,0,1,0,0,15,3,2
2017-03-15 16:00:00,17569.0,0,0,0,1,0,0,16,3,2
2017-03-15 17:00:00,17445.0,0,0,0,1,0,0,17,3,2
2017-03-15 18:00:00,17545.0,0,0,0,1,0,0,18,3,2
2017-03-15 19:00:00,17713.0,0,0,0,1,0,0,19,3,2
...,...,...,...,...,...,...,...,...,...,...
2018-08-02 20:00:00,17673.0,0,0,0,0,1,0,20,8,3
2018-08-02 21:00:00,17303.0,0,0,0,0,1,0,21,8,3
2018-08-02 22:00:00,17001.0,0,0,0,0,1,0,22,8,3
2018-08-02 23:00:00,15964.0,0,0,0,0,1,0,23,8,3
2018-08-03 00:00:00,14809.0,0,0,0,0,1,0,0,8,4

# Train

##### MinMax

In [18]:
train_set_load             = train_set['aep'].values.reshape(-1, 1)              
validation_set_load        = validation_set['aep'].values.reshape(-1, 1)
test_set_load              = test_set['aep'].values.reshape(-1, 1)
#.........................................................................
scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(train_set_load)
#scaler = StandardScaler()
#scaler.fit(train_set_load)
#.........................................................................
scaled_train_set_load      = scaler.transform(train_set_load)
scaled_validation_set_load = scaler.transform(validation_set_load)
scaled_test_set_load       = scaler.transform(test_set_load)
pickle.dump(scaler, open ("AEPscaler.pkl",'wb') )
scaled_train_set_load.shape

(84907, 1)

In [20]:
train_numerical = scaled_train_set_load
train_numerical.shape

(84907, 1)

##### OneHot Encoding

In [21]:
df.columns

Index(['aep', 'holiday', 'weekend', 'winter', 'spring', 'summer', 'fall',
       'hour', 'month', 'day_of_week'],
      dtype='object')

In [39]:
train_set

,aep,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,
2004-10-01 01:00:00,12379.0,0,0,0,0,0,1,1,10,4
2004-10-01 02:00:00,11935.0,0,0,0,0,0,1,2,10,4
2004-10-01 03:00:00,11692.0,0,0,0,0,0,1,3,10,4
2004-10-01 04:00:00,11597.0,0,0,0,0,0,1,4,10,4
2004-10-01 05:00:00,11681.0,0,0,0,0,0,1,5,10,4
...,...,...,...,...,...,...,...,...,...,...
2014-06-08 15:00:00,14420.0,0,1,0,0,1,0,15,6,6
2014-06-08 16:00:00,14498.0,0,1,0,0,1,0,16,6,6
2014-06-08 17:00:00,14565.0,0,1,0,0,1,0,17,6,6
2014-06-08 18:00:00,14619.0,0,1,0,0,1,0,18,6,6
2014-06-08 19:00:00,14390.0,0,1,0,0,1,0,19,6,6

In [35]:
train_setO     = train_set[:].values

In [41]:
train_setO[:,1:3]

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [42]:
train_setO     = train_set[:].values

holiday        = train_setO[:,1:2]
weekend        = train_setO[:,2:3]


en_holiday     = OneHotEncoder(handle_unknown='ignore')
en_weekend    = OneHotEncoder(handle_unknown='ignore')


holidayf       = en_holiday.fit(holiday)             #2
holidayt       = holidayf.transform(holiday).toarray() 

weekendf       = en_weekend.fit(weekend)             #2
weekendt       = weekendf.transform(weekend).toarray()




train_categorical = np.concatenate((holidayt,weekendt), axis=1)
train_categorical.shape

(84907, 4)

##### Cyclic

In [16]:
df.columns

Index(['aep', 'year_day', 'holiday', 'weekend', 'winter', 'spring', 'summer',
       'fall', 'hour', 'month', 'day_of_week'],
      dtype='object')

In [46]:
cyclic_train = train_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall']]
cyclic_train = cyclic_train[:].values


sin_montht   = np.sin(2*np.pi*cyclic_train[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_train[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_train[:,1:2]/7)
cos_weekt    = np.cos(2*np.pi*cyclic_train[:,1:2]/7)
  
sin_hourt    = np.sin(2*np.pi*cyclic_train[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_train[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_train[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_train[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_train[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_train[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_train[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_train[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_train[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_train[:,6:7]/4)


train_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt ), axis=1)

In [47]:
train = np.concatenate((train_numerical,train_categorical, train_cyclic), axis=1)
train.shape

(84907, 19)

In [48]:
train_df = pd.DataFrame(data = train.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt']).transpose()

In [49]:
train_df.to_csv('7_AEP_train.csv', index=False)

# validation

##### MinMax

In [50]:
validation_numerical = scaled_validation_set_load
validation_numerical.shape

(24259, 1)

#### OneHot

In [51]:

validation_setO = validation_set[:].values

holiday        = validation_setO[:,1:2]
weekend        = validation_setO[:,2:3]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
validation_categorical = np.concatenate((holidayt,weekendt), axis=1)
validation_categorical.shape

(24259, 4)

#### cyclic

In [54]:
cyclic_validation = validation_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall']]
cyclic_validation = cyclic_validation[:].values

sin_montht   = np.sin(2*np.pi*cyclic_validation[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_validation[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_validation[:,1:2]/7)
cos_weekt    = np.cos(2*np.pi*cyclic_validation[:,1:2]/7)
  
sin_hourt    = np.sin(2*np.pi*cyclic_validation[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_validation[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_validation[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_validation[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_validation[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_validation[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_validation[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_validation[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_validation[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_validation[:,6:7]/4)


validation_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                                sin_fallt, cos_fallt), axis=1) 

validation_cyclic.shape

(24259, 14)

In [55]:
validation = np.concatenate((validation_numerical,validation_categorical, validation_cyclic), axis=1)
validation.shape

(24259, 19)

In [56]:
validation_df = pd.DataFrame(data = validation.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt']).transpose()

In [57]:
validation_df.to_csv('8_AEP_validation.csv', index=False)

In [58]:
validation_df.shape

(24259, 19)

# Test

##### MinMax

In [59]:
test_numerical = scaled_test_set_load
test_numerical.shape

(12130, 1)

##### OneHot

In [60]:

test_setO = test_set[:].values

holiday        = test_setO[:,1:2]
weekend        = test_setO[:,2:3]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
test_categorical = np.concatenate((holidayt,weekendt), axis=1)
test_categorical.shape

(12130, 4)

##### cyclic

In [62]:
cyclic_test = test_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall']]
cyclic_test = cyclic_test[:].values

sin_montht   = np.sin(2*np.pi*cyclic_test[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_test[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_test[:,1:2]/7)
cos_weekt    = np.cos(2*np.pi*cyclic_test[:,1:2]/7)
  
sin_hourt    = np.sin(2*np.pi*cyclic_test[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_test[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_test[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_test[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_test[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_test[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_test[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_test[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_test[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_test[:,6:7]/4)


test_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                             sin_fallt,cos_fallt), axis=1) 

test_cyclic.shape

(12130, 14)

In [63]:
test = np.concatenate((test_numerical,test_categorical, test_cyclic), axis=1)
test.shape

(12130, 19)

In [65]:
test_df = pd.DataFrame(data = test.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt' ]).transpose()

In [66]:
test_df.to_csv('9_AEP_test.csv', index=False)

In [34]:
test_df.shape

(12130, 21)

In [34]:
4*((24*24)+24^2+24)

2312

In [36]:
(84907)/(10*(24+24))

176.88958333333332

In [ ]:
84907