In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

In [9]:
df = pd.read_csv(r'C:\Users\Administrator\Downloads\ML Lab\AEP_hourly\Code\3_Outlier_Identified.csv',parse_dates=True, index_col='Datetime')

In [10]:
df

                      index   AEP_MW
Datetime
2004-10-01 01:00:00       0  12379.0
2004-10-01 02:00:00       1  11935.0
2004-10-01 03:00:00       2  11692.0
2004-10-01 04:00:00       3  11597.0
2004-10-01 05:00:00       4  11681.0
...                     ...      ...
2018-08-02 20:00:00  121291  17673.0
2018-08-02 21:00:00  121292  17303.0
2018-08-02 22:00:00  121293  17001.0
2018-08-02 23:00:00  121294  15964.0
2018-08-03 00:00:00  121295  14809.0

[121296 rows x 2 columns]

In [11]:
df['AEP_MW'].interpolate(method='time',inplace=True)

In [12]:
# will fill the remaing by interpolation
df.isnull().sum()

index     0
AEP_MW    0
dtype: int64

In [13]:
df.reset_index(inplace=True)

In [14]:
df

                  Datetime   index   AEP_MW
0      2004-10-01 01:00:00       0  12379.0
1      2004-10-01 02:00:00       1  11935.0
2      2004-10-01 03:00:00       2  11692.0
3      2004-10-01 04:00:00       3  11597.0
4      2004-10-01 05:00:00       4  11681.0
...                    ...     ...      ...
121291 2018-08-02 20:00:00  121291  17673.0
121292 2018-08-02 21:00:00  121292  17303.0
121293 2018-08-02 22:00:00  121293  17001.0
121294 2018-08-02 23:00:00  121294  15964.0
121295 2018-08-03 00:00:00  121295  14809.0

[121296 rows x 3 columns]

In [16]:
df.to_csv(r'C:\Users\Administrator\Downloads\ML Lab\AEP_hourly\Code\5_All_Values_handaled.csv',index=False)

In [17]:
df = pd.read_csv(r'C:\Users\Administrator\Downloads\ML Lab\AEP_hourly\Code\5_All_Values_handaled.csv')

In [19]:
# will fill the remaing by interpolation
df.isnull().sum()

Datetime    0
index       0
AEP_MW      0
dtype: int64